# Core functionality - changes here should be rare!
/src/app.py                   @jacksmith-ftw
/src/backend/database.py      @jacksmith-ftw
/src/backend/routers/auth.py  @jacksmith-ftw

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jacksmith-ftw
